<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/current-city-style.css" %}">
    <script src="{% static "js/current-city-script.js" %}"></script>
    <title>Title</title>
</head>
<body style="background: url('{{ cities.bg }}'); background-size: cover;">
<main>
    {% if cities.isFound %}
        <p>{{ cities.data }}</p>
        <p>City: {{ cities.city }}, {{ cities.country }}</p>
        <p>Temp: {{ cities.temp }}<sup>°</sup>C</p>
        <p>Description: {{ cities.weather_desc }}</p>
        <p>Wind speed: {{ cities.speed }} m/s</p>
        <p>Clouds: {{ cities.clouds }}%</p>
        <img src="../static/animated/{{ cities.weather }}.svg" alt="{{ cities.weather }}">
    {% else %}
        <p>City not found</p>
    {% endif %}
</main>
</body>
</html>
