{% extends "index.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/sign_up_style.css" %}">

    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Sign up to MySite</p>
            </div>

            <form action="" method="POST">
                {{ form.error }}
                {% csrf_token %}
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text"
                                       name="username"
                                       required=""
                                       id="id_username"
                                       class="form-control"
                                       placeholder="User Name *"
                                       value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="first_name"
                                       id="id_first_name"
                                       class="form-control"
                                       placeholder="First Name *"
                                       value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password"
                                       name="password"
                                       id="id_password"
                                       class="form-control"
                                       required=""
                                       placeholder="Your Password *"
                                       value=""/>
                            </div>

                            <div class="form-group">
                                <input type="text"
                                       name="last_name"
                                       id="id_last_name"
                                       class="form-control"
                                       placeholder="Last Name *"
                                       value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email"
                                       name="email"
                                       id="id_email"
                                       class="form-control"
                                       placeholder="Email Address *"
                                       value=""/>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btnSubmit" value="Submit">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
